.player {
  width: 800px;
  height: 600px;
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.video-container {
  width: 100%;
  flex-grow: 1;
}

.control-panel {
  background: black;
  display: flex;
  align-items: center;
}

.control-panel__button {
  background-color: transparent;  
  border: none;                   
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 37px;
  height: 42px;
  padding: 0;
  transition: none;               
  outline: none;                  
  -webkit-tap-highlight-color: transparent; 
  user-select: none;              
}

.control-panel__button:hover,
.control-panel__button:focus,
.control-panel__button:active {
  background-color: transparent;
  color: white;
  outline: none;
  box-shadow: none;
}

.control-panel__spacer {
  flex-grow: 1;
}

/* Время и прогресс */
.time-container {
  display: flex;
  align-items: center;
  gap: 22px;
  flex: 42;
  height: 42px;
}

.time-container span {
  font-weight: 400;
  font-size: 16px;
  color: white;
  width: 40px;
  text-align: center;
  line-height: 42px;
}

.progress-bar {
  flex: 1;
  height: 4px;
  background: #555;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.progress-filled {
  height: 100%;
  background: #f8104d;
  border-radius: 2px;
  width: 0%;
}

.progress-thumb {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: red;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  pointer-events: none;

  opacity: 0; 
  transition: opacity 0.2s ease, left 0.15s ease-out; 
}

.js-progress:hover .progress-thumb {
  opacity: 1; 
}